body {
    height: 100%;
    color:white;background-image:url(../bg.jpg);
  }

  .warp{
    margin: 5% auto;
    max-width: 350px;
  }

  .inwarp{
    margin:0 auto;
    position:relative;
    padding: 0;
  }
.form-login{
    border-bottom:1px solid #fff
}
.button-login{
    color:white;
}
  
.badan{
  margin: 2% 5% 2% 5%;
}